body {
    width: 381px;
    height: 3781px;
    background: #F8FFFE;
}

.sidebar {
    margin-top: -8px;
    margin-left: -8px;
    width: 381px;
    height: 62px;
    background: #0045FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navbar a {
    line-height: 30px;
    margin-top: -40px;
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

.navbar a:hover {
    color: pink;
}

.website {
    margin-top: 0px;
    margin-left: 36px;
    width: 309px;
    height: 3685px;
}

.hello {
    margin: auto;
    margin-top: 75px;
    text-align: center;
    letter-spacing: 0;
}

.hello h1 {
    margin: auto;
    margin-left: 100px;
    margin-top: 0px;
    width: 86px;
    height: 48px;
    font-size: 40px;
    letter-spacing: 0;
    color: #0045FF;
}

.hello p {
    text-align: center;
    margin-top: 25px;
    width: 309px;
    height: 221px;
    color: #707070;
    font-size: 20px
}

.hello button {
    margin-top: 55px;
    margin-left: 0px;
    box-shadow: 0px 4px 40px #00000033;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    background-color: #0045FF;
}

#htxt {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#profimg {
    margin-top: 45px;
    left: 33px;
    width: 309px;
    height: 413px;
    background: transparent url('assets/images/prof.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    opacity: 1;
}

.sndpg {
    margin-top: 25px;
}

.cprojects h1 { 
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    color: #0045FF;
}
.cprojects p {
    text-align: center;
    font-size: 15px;
    color: #707070;

}

.allpjcts {
    display: grid;
    grid-template-columns: repeat (1, 4fr);
    grid-gap: 10px;
    text-decoration: none;
    color: #707070;
}
.allpjcts a {
    text-decoration: none;
    font-weight: bold;
    color:  #0045FF;
}

#pjcta {
    width: 309px;
    height: 120px;
    background: transparent url('assets/images/bamazon.png') 0% 0% repeat padding-box;
    background-size: contain;
    opacity: 1;
}
#pjctb {
    width: 309px;
    height: 120px;
    background: transparent url('assets/images/liri.png') 0% 0% repeat padding-box;
    background-size: contain;
}
#pjctc {
    width: 309px;
    height: 150px;
    background: transparent url('assets/images/dungeon.png') 0% 0% no-repeat padding-box;
    background-size: contain;
}
#pjctd {
    width: 309px;
    height: 150px;
    background: transparent url('assets/images/pets.png') 0% 0% no-repeat padding-box;
    background-size: contain;
}

.thdpge {
    margin-top: 120px;
}
.thdpge h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    color: #0045FF;
}
.thdpge p {
    text-align: center;
    font-size: 15px;
    color: #707070;
}
.cntend {
    text-align: center;
}
.cntend button {
background: #0045FF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 40px #00000033;
border-radius: 30px;
height: 60px;
width: 200px;
opacity: 1;
}
#ctxt, #mtxt {
    color: white;
    font-size: 20px;
    text-decoration: none;
}


@media only screen and (min-width: 382px) {
    body {
        width: 600px;
        height: 2100px;
        background: #F8FFFE
    }
    .sidebar {
        margin-top: -75px;
        margin-left: -8px;
        width: 200px;
        height: 2100px;
        float: left;
        position: fixed;
    }
    .navbar {
        margin-top: 276px;
        margin-right: 40px;
        height: 907px;
        width: 158;
        letter-spacing: 20px;
        text-align: center;
        position: relative;
    }
    .navbar a {
        left: -10px;
        height: 27px;
        text-align: center;
        font: 500 20px/24px;
        letter-spacing: 0;
        line-height: 3.0;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        /* display: list-item; */
        padding-top: 20px;
    }
    .website{
        float: right;
    }   
}

@media only screen and (min-width: 800px) {
    body {
        width: 800px;
        height: 1800px;
        background: #F8FFFE
    }
    .sidebar {
        margin-top: -75px;
        margin-left: -8px;
        width: 200px;
        height: 2100px;
        float: left;
        position: fixed;
    }
    .navbar {
        margin-top: 276px;
        margin-right: 40px;
        height: 907px;
        width: 158;
        letter-spacing: 20px;
        text-align: center;
        position: relative;
    }
    .navbar a {
        left: -10px;
        height: 27px;
        text-align: center;
        font: 500 20px/24px;
        letter-spacing: 0;
        line-height: 3.0;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        /* display: list-item; */
        padding-top: 20px;
    }
    .website{
        float: right;
    }   
}
@media only screen and (min-width: 1080px) {
    body {
        width: 900px;
        height: 1200px;
        background: #F8FFFE
    }
    .sidebar {
        margin-top: -75px;
        margin-left: -8px;
        width: 200px;
        height: 2100px;
        float: left;
        position: fixed;
    }
    .navbar {
        margin-top: 276px;
        margin-right: 40px;
        height: 907px;
        width: 158;
        letter-spacing: 20px;
        text-align: center;
        position: relative;
    }
    .navbar a {
        left: -10px;
        height: 27px;
        text-align: center;
        font: 500 20px/24px;
        letter-spacing: 0;
        line-height: 3.0;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        /* display: list-item; */
        padding-top: 20px;
    }
    .website{
        /* float: right; */
        height: 900px;
        margin-top: -40px;
        margin-right: 190px;
    }   
    .page {
        width: 800px;
        padding: 25px;
    }
    #profimg {
        margin-top: -400px;
        margin-left: 330px;
        height: 300px;
        width: 350px;
        margin-right: -200px;
    }
    .hello button {
        /* margin-top: 20px; */
        margin-right: 500px;
    }
    .sndpg {
        text-align: center;
        margin-top: 100px;
        margin-left: -100px;
        width: 800px;
    }
    .cprojects {
        text-align: center;
        margin-right: 100px;
    }
    .allpjcts {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .projecta {
        width: 300px;
    }
    #pjcta {
        width:200px;
        margin-left: 55px
    }
    .projectb {
        width: 300px;
    }
    #pjctb {
        width:200px;
        margin-left: 55px;
    }
    .projectc {
        width: 300px;
    }
    #pjctc {
        width: 200px;
        height: 200px;
        margin-left: 55px;
    }
    .projectd {
        width: 300px;
    }
    #pjctd {
        width: 200px;
        height: 200px;
        margin-left: 55px;
    }
    .thdpge {
        margin-top: -60px;
        margin-left: -160px;
    }
    .thdpge div {
        text-align: center;
    }
}
@media only screen and (min-width: 1480px) {
    body {
        width: 1480px;
        height: 900px; 
    }
    .sidebar {
        width: 400px;
        height: 1800px;
        float: left;
        position: fixed;
    }
    .navbar {
        margin-top: 276px;
        margin-left: 2px;
        margin-right: 140px;
        height: 900px;
        width: 280px;
        font-size: 34px;
        letter-spacing: 20px;
        text-align: center;
        position: relative;
    }
    .navbar a {
        left: -10px;
        height: 27px;
        text-align: center;
        font: 500 20px/24px;
        letter-spacing: 0;
        line-height: 3.0;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        padding-top: 20px;
    }
    .website {
        height: 300px;
        width: 1080px;
        margin-right: -300px;
    }
    .page {
        height: 400px;
    }
    .hello {
        margin-left: -300px;
    }
    .hello h1 {
        font-size: 64px;
        margin-left: 195px;
    }
    .hello p {
        font-size: 28px;
        margin-left: 130px;
    }
    #profimg {
        width: 600px;
        height: 800px;
        margin-left: 180px;
    }
    .hello button {
        margin-top: 240px;
        margin-left: -30px;
    }
    .sndpg {
        margin-top: -80px;
    }
    .cprojects h1 {
        font-size: 48px;
    }
    .cprojects p {
        font-size: 36px;
    }
    .thdpge {
        margin-top: 400px;
    }
    .thdpge h1 {
        font-size: 48px;
    }
    .thdpge p {
        font-size: 36px;
    }
    .cntme {
        margin-top: 300px;
    }
}
