body {
    width: 1000px;
    height: 2717px;
    background: #F8FFFE 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* |--sidebar--| */

.sidebar {
    top: 0px;
    left: 0px;
    width: 251px;
    height: 2717px;
    background: #0045FF 0% 0% no-repeat padding-box;
    opacity: 1;
    float: left;
    position: fixed;
    text-align: center;
}

.info {
    margin-top: 176px;
    height: 907px;
    width: 158;
    letter-spacing: 20px;
    text-align: center;
    position: relative;
}

.info a {
    left: 48px;
    height: 27px;
    text-align: center;
    font: 500 20px/24px;
    letter-spacing: 0;
    line-height: 1.0;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    display: list-item;
    padding-top: 20px;
}

#about {
    top: 207px;
}

#projects {
    top: 278px;
}

#music {
    top: 349px;
}

#resume {
    top: 420px;
}

#contact {
    top: 491px;
}

/* logos */

.logos {
    top: 739px;
    width: 158px;
}

#scloud {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    background: transparent url('assets/images/Path 5.png') 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

#lin {
    top: 0px;
    left: 30px;
    width: 24px;
    height: 24px;
    background: transparent url('assets/images/Path 1.png') 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

#ghub {
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background: transparent url('assets/images/Path 2.png') 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

/* |----end of sidebar----| */

/* |----start of document----| */

.document {
    left: 394px;
    width: 1029px;
    clear: right;
}

/* #groupsix {
    top: -114.44866943359375px;
    left: 775px;
    width: 605px;
    height: 590px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    background: transparent url('assets/images/Group 6.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 0.5; 
    z-index: -1;
} */

/* |----first 'page'----| */

.fstpg {
    top: 176px;
    left: 394px;
    width: 746px;
    height: 487px;
    float: right;
}

#profimg {
    top: 0px;
    right: 0px;
    width: 365px;
    height: 487px;
    background: transparent url('assets/images/prof.png') 30% 20% no-repeat padding-box;
    background-size: contain;
    opacity: 0.5;
    float: right;
    border-radius: 4px;
}

.hello {
    top: 176px;
    left: 394px;
    width: 365px;
    height: 406px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
}

.hello h1 {
    top: 0px;
    left: 0px;
    width: 214px;
    height: 120px;
    font: 500 100px/24px;
    font-size: 70px;
    letter-spacing: 0;
    color: #0045FF;
}

.hello p {
    margin-top: -70px;
    width: 323px;
    height: 24px;
    font: 500 20px/24px;
    letter-spacing: 2;
    color: #707070;
    font-size: 16px;
}

.fstpg button {
    top: 603px;
    left: 394px;
    width: 200px;
    height: 60px;
    background: #0045FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 40px #00000033;
    border-radius: 30px;
    opacity: 1;
}

#hire {
    font: 500 20px/24px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
}

#htxt {
    text-decoration: none;
    color: white;
}

/* |----end 'first' page----| */

/* |----start of 'second' page----| */

.sndpg {
    margin-top: 100px;
    left: 394px;
    width: 746px;
    height: 906px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    float: right;
    text-decoration: none;
}

.cprojects {
    width: 746px;
}

.cprojects h1 {
    margin-top: 72px;
    left: 0px;
    width: 226px;
    height: 72px;
    text-align: left;
    font: 500 60px/24px;
    letter-spacing: 0;
    color: #0045FF;
    font-size: 60px;
}

.cprojects p {
    margin-top: 105px;
    width: 323px;
    height: 24px;
    font: 500 20px/24px;
    letter-spacing: 2;
    color: #707070;
    font-size: 16px;
}

.allpjcts {
    top: 1074px;
    margin: auto;
    margin-top: 55px;
    margin-left: 0px;
    width: 746px;
    height: 492px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    text-decoration: none;
}

.allpjcts :hover {
    opacity: 0.6;
}

#pjcta {
    /* top: 1074px;
    left: 394px; */
    width: 238px;
    height: 238px;
    background: #0045FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#pjctb {
    /* top: 1074px;
    left: 648px; */
    width: 238px;
    height: 238px;
    background: transparent url('assets/images/Goldfish_FreeUse.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#pjctc {
    /* top: 1074px;
    left: 902px; */
    width: 238px;
    height: 238px;
    background: transparent url('assets/images/Goldfish_FreeUse.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#pjctctxt {
    text-decoration: none;
    color: white;
    text-align: center;
}

#pjctd {
    /* top: 1328px;
    left: 394px; */
    width: 238px;
    height: 238px;
    background: transparent url('assets/images/tim.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
    text-decoration: none;
    color: blue;
}

#pjctdtxt {
    text-decoration: none;
    color: rgb(8, 44, 160);
    text-align: center;
    opacity: 1;
    z-index: 1;
}

#pjctdtxt h1 {
    padding-top: 40px;
    text-decoration: none;
    font-size: 16px;
    opacity: 1;
    text-underline-position: none;
}

#pjcte {
    top: 1328px;
    left: 648px;
    width: 238px;
    height: 238px;
    background: transparent url('assetsimages/Goldfish_FreeUse.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#pjctf {
    width: 238px;
    height: 238px;
    background: transparent url('assetsimages/Goldfish_FreeUse.png') 0% 0% no-repeat padding-box;
}

/* |----end of 'page' two----| */

/* |----start of 'page' three----| */

.thdpge {
    top: 1684px;
    left: 394px;
    width: 746px;
    height: 906px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    float: right;
}

.mprojects {
    top: 0px;
    left: 394px;
    width: 365px;
    height: 164px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
}

.mprojects h1 {
    top: 0px;
    left: 0px;
    width: 162px;
    height: 72px;
    font: 500 60px/24px;
    letter-spacing: 0;
    color: #0045FF;
    font-size: 60px;
}

.mprojects p {
    margin-top: -25px;
    left: 0px;
    width: 263px;
    height: 24px;
    font: 500 20px/24px;
    letter-spacing: 0;
    color: #707070;
}

#sptfy {
    width: 746;
}

#spt {
    padding-right: 30px;
}

/* |----end of third 'page'----| */

/* |----start of fourth 'page'----| */

.cntme {
    margin-top: 0px;
    left: 394px;
    width: 746px;
    height: 169px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
}

.cntinfo {
    width: 365px;
    height: 169px;
    float: left;
}

.cntinfo h1 {
    font: 500 60px/24px;
    letter-spacing: 0;
    color: #0045FF;
    font-size: 60px;
}

.cntinfo p {
    margin-top: -25px;
    font: 500 20px/24px;
    letter-spacing: 0;
    color: #707070;
    font-size: 18px;
}

.cntme button {
    margin-top: 130px;
    margin-left: 0px;
    padding: 10px;
    text-decoration: none;
}

#rsme {
    width: 120px;
    height: 60px;
    background: #0045FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 40px #00000033;
    border-radius: 30px;
    opacity: 1;
    color: white;
    font-size: 20px;
}

#ctxt {
    text-decoration: none;
    color: white;
}

#mail {
    width: 120px;
    height: 60px;
    background: #0045FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 40px #00000033;
    border-radius: 30px;
    opacity: 1;
    color: white;
    font-size: 20px;
}

#mtxt {
    text-decoration: none;
    color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* @media only screen and (max-width: 600px) {

} */

@media only screen and (max-width: 600px) {
    body {
        width: 600px;
        height: 1358px;
    }
    .sidebar {
        top: 0px;
        width: 600px;
        height: 100px;
        position: fixed;
    }
    .info {
        margin-top: 40px;
    }
    .info a {
        display: inline;
        text-align: center;
        /* margin: auto; */
    }
    .document {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        width: 600px;
    }
    #profimg {
        height: 200px;
        margin-top: 60px;
        margin-right: 60px;
    }
    #first button {
        margin-left: 170px;
    }
}

;
/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */